* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 200vh;
}

.h2-line {
  content: '';
  width: 100px;
  background: #40b76b;
  height: 6px;
  margin: 0 auto;
}

.h2-line-white {
  content: '';
  width: 100px;
  background: #ffffff;
  height: 6px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 30px 100px 30px 100px;
  z-index: 1001;
}

header .nav {
  width: 100%;
}

header .nav .hamburger-label {
  float: right;
  color: #386fb7;
  background-color: transparent;
  border: none;
  font-size: 25px;
  display: none;
  cursor: pointer;
}

header .nav .nav-container .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav .nav-container ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .nav-container ul li {
  position: relative;
  list-style: none;
}

header .nav .nav-container ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #386fb7;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

header .nav .nav-container ul li a:hover {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .nav .nav-container ul li .active {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
}

.sticky {
  background-color: #386fb7;
  padding: 25px 100px 25px 100px;
}

.sticky a {
  color: #ffffff !important;
  cursor: pointer;
}

.stick {
  color: #ffffff !important;
}

@media (max-width: 780px) {
  .nav-container {
    display: none;
  }
  .nav-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-container ul li {
    padding-bottom: 10px;
  }
  header {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hamburger-label {
    display: block !important;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.295)), to(rgba(0, 0, 0, 0.005))), url("../../images/bg-portfolio.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.005)), url("../../images/bg-portfolio.jpg");
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
}

.banner .hero {
  background-color: #ffffff;
  margin: 90px auto 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 85%;
  padding: 50px 80px;
  border-radius: 60px 0px 60px 0px;
  -webkit-box-shadow: 0px 2px 10px #000;
          box-shadow: 0px 2px 10px #000;
}

.banner .hero .potrait {
  width: 50%;
}

.banner .hero .potrait img {
  max-width: 360px;
  -webkit-box-shadow: 0px 2px 7px #000;
          box-shadow: 0px 2px 7px #000;
}

.banner .hero .info {
  width: 50%;
}

.banner .hero .info h1 {
  text-transform: uppercase;
  font-weight: 550;
}

.banner .hero .info h1 .highlight {
  color: #386fb7;
}

.banner .hero .info .line {
  content: '';
  background: #386fb7;
  height: 5px;
  width: 100%;
  margin: 10px 0 20px 0;
}

.banner .hero .info p {
  line-height: 25px;
}

.banner .hero .info h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #386fb7;
  text-transform: uppercase;
  font-weight: 550;
}

.banner .hero .info a {
  background-color: #40b76b;
  padding: 10px 15px;
  color: #ffffff;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  text-shadow: 0px 0px 2px #000;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border-radius: 3px;
  cursor: pointer;
  width: 161px;
}

.banner .hero .info a:hover {
  -webkit-box-shadow: 0px 2px 7px #000;
          box-shadow: 0px 2px 7px #000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@media (max-width: 1300px) {
  .banner .hero .info h1 {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .banner .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .banner .hero .potrait {
    width: 100%;
  }
  .banner .hero .potrait img {
    max-width: 250px;
    margin-bottom: 30px;
  }
  .banner .hero .info {
    width: 100%;
  }
  .banner .hero .info a {
    margin: 10px auto;
  }
}

@media (max-width: 700px) {
  .banner .hero {
    width: 100%;
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .banner .hero .potrait img {
    max-width: 200px;
  }
  .banner .hero .info h1 {
    font-size: 20px;
  }
  .banner .hero .info img {
    max-width: 200px;
  }
}

.about-section {
  padding-top: 50px;
}

.about-section h2 {
  text-align: center;
  color: #386fb7;
  padding: 60px 0 10px 0;
  font-weight: 550;
}

.about-section .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 85%;
  max-width: 1100px;
}

.about-section .about-content .comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #f5f5f5;
}

.about-section .about-content .comp .comp_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-content .comp .comp_logo a img {
  max-width: 350px;
}

.about-section .about-content .comp .comp-content {
  width: 55%;
}

.about-section .about-content .comp .comp-content h3 {
  padding-bottom: 20px;
  color: #40b76b;
  font-weight: 550;
}

.about-section .about-content .comp .comp-content p {
  line-height: 25px;
}

.about-section .about-content .studies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  margin-top: 30px;
  width: 100%;
  background-color: #f5f5f5;
}

.about-section .about-content .studies .studies-content {
  width: 60%;
}

.about-section .about-content .studies .studies-content h3 {
  padding-bottom: 20px;
  color: #40b76b;
  font-weight: 550;
}

.about-section .about-content .studies .studies-content p {
  line-height: 25px;
}

.about-section .about-content .studies .book-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-content .studies .book-icon img {
  max-width: 250px;
}

@media (max-width: 860px) {
  .about-section .about-content .comp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .about-section .about-content .comp .comp-content {
    width: 100%;
  }
  .about-section .about-content .studies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about-section .about-content .studies .studies-content {
    width: 100%;
  }
  .about-section .about-content .studies .book-icon {
    padding-top: 20px;
  }
}

.work-section {
  padding-bottom: 150px;
}

.work-section h2 {
  text-align: center;
  color: #386fb7;
  padding: 150px 0 10px 0;
  font-weight: 550;
}

.work-section .work-content {
  margin: 0 auto;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  max-width: 1200px;
}

.work-section .work-content .card {
  max-width: 300px;
  height: 360px;
}

.work-section .work-content .card img {
  max-width: 300px;
}

.work-section .work-content .card .card-text {
  padding: 10px;
}

.work-section .work-content .card .card-text h3 {
  font-size: 25px;
  padding-bottom: 7px;
}

.work-section .work-content .card .card-text p {
  padding-bottom: 20px;
}

.work-section .work-content .card .card-text a button {
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.work-section .work-content .card .card-text a button:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: 0px 2px 7px #000;
          box-shadow: 0px 2px 7px #000;
}

.work-section .work-content .rainy {
  -webkit-box-shadow: 0px 0px 0px 10px #0a3641;
          box-shadow: 0px 0px 0px 10px #0a3641;
  color: #0a3641;
}

.work-section .work-content .rainy a button {
  background-color: #0a3641;
  margin-top: 6px;
}

.work-section .work-content .bfilter {
  -webkit-box-shadow: 0px 0px 0px 10px #386fb7;
          box-shadow: 0px 0px 0px 10px #386fb7;
  color: #386fb7;
}

.work-section .work-content .bfilter a button {
  background-color: #386fb7;
}

.work-section .work-content .foodblog {
  -webkit-box-shadow: 0px 0px 0px 10px #f1ae4c;
          box-shadow: 0px 0px 0px 10px #f1ae4c;
  color: #f1ae4c;
}

.work-section .work-content .foodblog a button {
  background-color: #f1ae4c;
}

@media (max-width: 1200px) {
  .work-section .work-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-section .work-content .card {
    margin: 20px 0px;
  }
}

.skill-section {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3e3e3e;
}

.skill-section h2 {
  color: #ffffff;
  padding-bottom: 10px;
}

.skill-section .skill_bars {
  padding: 50px 30px 0 30px;
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-section .skill_bars .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.skill-section .skill_bars .bar .skill_btn {
  color: #ffffff;
  background-color: #386fb7;
  width: 100px;
  height: 35px;
  border: none;
  z-index: 1000;
}

.skill-section .skill_bars .bar .fill {
  content: '';
  width: 82%;
  height: 35px;
  z-index: 1;
  background: #f5f5f5;
}

.skill-section .skill_bars .bar .seventy::before {
  content: '';
  display: block;
  width: 80%;
  height: 35px;
  background: #86baff;
}

.skill-section .skill_bars .bar .eighty::before {
  content: '';
  display: block;
  width: 90%;
  height: 35px;
  background: #86baff;
}

.skill-section .skill_bars .bar .sixty-five::before {
  content: '';
  display: block;
  width: 75%;
  height: 35px;
  background: #86baff;
}

.skill-section .skill_bars .bar .prosent {
  color: #000;
  background-color: #f5f5f5;
  height: 35px;
  border: none;
  padding-right: 10px;
  font-style: italic;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #3e3e3e), color-stop(50.5%, transparent));
  background: linear-gradient(to bottom right, #3e3e3e 50%, transparent 50.5%);
}

.contact-section h2 {
  color: #ffffff;
  padding-bottom: 10px;
}

.contact-section .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 50px;
  margin-top: 50px;
  background-color: #386fb7;
  color: #ffffff;
  margin-bottom: 100px;
}

.contact-section .contact-info .face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.contact-section .contact-info .face a {
  color: #ffffff;
  font-size: 35px;
}

.contact-section .contact-info .face p {
  margin-bottom: 7px;
}

.contact-section .contact-info .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.contact-section .contact-info .email i {
  font-size: 35px;
}

.contact-section .contact-info .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.contact-section .contact-info .phone i {
  font-size: 35px;
}

@media (max-width: 600px) {
  .contact-section .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
    padding: 25px;
  }
}
/*# sourceMappingURL=style.css.map */